*{
        margin: 0;
        padding: 0;
        font-family: sans-serif;

}
.banner{
            width:100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0,0,0,0.57),rgba(0,0,0,0.57)),url(background.jpg);
            background-size: cover;
            background-position:center;
        
}
.navbar{
            width: 85%;
            margin: auto;
            padding: 35px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
}
.logo{
        width: 100px;
        cursor: pointer;
}
.navbar ul li{  
                list-style: none;
                display: inline-block;
                margin: 0 20px;
}
.navbar ul li a{
                    text-decoration: none;
                    color: #FFF;
                    text-transform: uppercase; 
                    

                    
                    




}
.text{
        font-size: 80px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #FFF;
        text-align: center;
        padding-top: 160px;
        margin-right: 50px;
        
}
.text1{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: #FFF;
        text-align: center;
        margin-right: 75px;
        margin-bottom: 20px;   
        
     
}
.button {
    border: red;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 60px;
    border-radius: 20px;
    
    
  }
  
  .button1 {background-color: #008CBA;} /* Green */
  .button2 {background-color: #008CBA;} /* Blue */
